<div class="pokemon-detail-container">
  <div *ngIf="loading" class="loading">Carregando Pokémon...</div>
  <div *ngIf="error" class="error">Erro ao Carregar Pokémon. Tente novamente</div>

  <div *ngIf="pokemon" class="pokemon-detail-card">
    <div class="header">
      <div class="sprite-brdr">
        <div class="pkmn-sprite">
          <img [src]="pokemon.sprites?.front_default" alt="{{pokemon.name}}">
        </div>
      </div>      
      <h3> #{{pokemon.id}}</h3>
      <h1>{{ pokemon.name | titlecase }}</h1>
      <p class="h-and-w"><span>Altura: {{pokemon.height/10}}m</span> | <span>Peso: {{pokemon.weight/10}}kg</span></p>
      
    </div>
    <div class="details-section">
      <!--Tipagem-->
      <h3>Tipos:</h3>
      <ul>
        <li *ngFor="let type of pokemon.types">{{type.type.name | titlecase}}</li>
      </ul>
      <!--Habilidades-->
      <h3>Habilidade:</h3>
      <ul>
        <li *ngFor="let ability of pokemon.abilities">{{ability.ability.name | titlecase}}</li>
      </ul>
      <!--Estatísticas Base-->
      <h3>Estatísticas:</h3>
      <ul>
        <li *ngFor="let stat of pokemon.stats">
          {{stat.stat.name | titlecase}}: {{stat.base_stat}}
        </li>
      </ul>
    </div>
    <a routerLink="/" class="back-button">Voltar</a>
  </div>
</div>
